.scroll-container {
  height: 90%;
  width: 80%;
  overflow: hidden;
  position: absolute;
  display: block;
  margin: 0 80px;
}

.scrollable {
  height: 100%;
  width: calc(100% + 50px);
  overflow: auto;
  display: block;
  padding-right: 50px;
}

.content {

}

.scrollable-item {
  height: 60px;
  border: #666 1px solid;
  padding: 20px;
  border-radius: 10px;
}

.scrollable-item.different {
  background-color: #245269;
}
