item-summary {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: left;
}

item-summary .popup {
  position: absolute;
  top: -30px;
  left: 10px;
  padding: 5px;
  border-radius: 8px 8px 0 0;
  background-color: yellowgreen;
  color: #222;
  font-size: 12px;
  font-weight: bold;
}
item-summary .popup:hover {
  color: #000;
}

/*.summary-content {*/
  /*height: 0;*/
  /*overflow: auto;*/
  /*position: relative;*/
/*}*/
/*.summary-content.opened {*/
  /*top: -300px;*/
  /*height: 300px;*/
/*}*/
