due-item {
  top: 0;
  padding: 4px;
  display: inline-block;
  height: 100%;
  border: transparent 1px solid;
  max-width: 80px;
  overflow: hidden;
  min-width: 30px;
  position: relative;
}
due-item:not(.expired):not(.done) {
  opacity: .4;
}
due-item.done {
  opacity: .4;
  background: url('../../assets/images/overlay.png') repeat;
}

due-item:hover,
due-item.done:hover {
  opacity: 1;
  cursor: pointer;
}

.item-button {
  position: absolute;
  color: #222;
  opacity: .1;
  font-size: 20px;
  z-index: 10;
}
.item-delete {
  right: 0;
  top: 0;
}
.item-handle {
  left: 0;
  bottom: 0;
}

.item-button:hover {
  opacity: .9;
}


.item-row-dues-in > due-item {
  color:#fff;
  background-color: #47a447;
  border-color: #398439;
}
.item-row-dues-out > due-item {
  color:#fff;
  background-color: #d2322d;
  border-color: #ac2925;
}

.due-in {
  color:#fff;
  background-color: #47a447;
  border-color: #398439;
}
.due-out {
  color:#fff;
  background-color: #d2322d;
  border-color: #ac2925;
}


due-item > .name {
  height: 14px;
  overflow: inherit;
  text-overflow: ellipsis;
  font-size: 10px;
  margin-bottom: 8px;
}

due-item > .value {
  width: 100%;
  text-align: right;
  font-weight: bold;
}

.item-row.central due-item {
  opacity: 1;
  border-color: yellowgreen;
}

due-item > footer {
  position: absolute;
  bottom: 0;
  text-align: right;
  width: 100%;
  padding-right: 10px;
}
