.overpage-search {
  text-align: center;
  padding: 50px;
  max-width: 700px;
}

.overpage-search > input {
  max-width: 400px;
  display: inline-block;
}

.search-results {
  margin: 50px 10px;
  position: relative;
}

.search-results due-item {
  padding: 4px 6px 10px;
  margin: 4px;
  border-radius: 4px;
}
.due-item-detail {
  display: inline-block;
}

.overpage-search > .options {
  padding: 20px 0 0;
}
.overpage-search > .options > div {
  display: inline-block;
  margin: 0 10px;
}
