<div class="overpage overpage-settings container" ng-controller="SettingsCtrl">
  <h1>Options</h1>
  <br>
  <div><label><input type="checkbox" ng-model="user.settings.chart"> Show Budget Diagram</label></div>
  <br>
  <label>Deafult Budget</label>
  <input type="text" class="form-control input-sm" ng-model="user.settings.budget" />
  <br>
  <button class="btn btn-primary" ng-click="updateSettings()">Update Settings</button>
  <br><br><br>
  <h1>Change Password</h1>
  <form class="form" name="form" ng-submit="changePassword(form)" novalidate>
    <div class="form-group">
      <label>Current Password</label>
      <input type="password" name="password" class="form-control input-sm" ng-model="user.oldPassword" mongoose-error/>
      <p class="help-block" ng-show="form.password.$error.mongoose">{{ errors.other }}</p>
    </div>
    <div class="form-group">
      <label>New Password</label>
      <input type="password" name="newPassword" class="form-control input-sm" ng-model="user.newPassword" ng-minlength="3" required/>
      <p class="help-block"ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">Password must be at least 3 characters.</p>
    </div>
    <p class="help-block"> {{ message }} </p>
    <button class="btn btn-primary" type="submit">Save New Password</button>
  </form>
</div>
