svg {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

svg path {
  stroke: rgba(123, 178, 0, .4);
}
svg path.active {
  stroke: rgba(123, 178, 0, 0.8);
}

